/** @format */

.App {
	text-align: center;
}
.home-main {
	padding: 0px 20px;
	background-color: rgb(6, 6, 32);
}
.home-container {
	background-image: url(./images/section-1-bg.png);
	background-size: 100%;
}
/* @media screen and (max-width: 500px) {
	.home-img {
		width: 115%;
	}
} */
.home-sidebar {
	display: flex;
	/* flex-wrap: wrap; */

}
.home-child2{
  position: relative;
  right: -15%;
 margin-top: 5%;
  
}


.home-child2 h1 {
	color: white;
	font-size: 2vw;
}
.home-child2 button {
	color: white;
	font-size: 1vw;
  background-color: blue;
  border-radius: 20px;
  background: #2a2aa7;
  border: none;
  font-weight: 600;
  padding: 7px 17px;
  color: white;
 
}
.home-img{width: 40vw;
position: relative;
left: 5%;}

.alumni-main {
	background-color: rgb(6, 6, 32);
	padding: 1px 20px;
}
.alumni-container {
	background-color: #0b0b44;
	color: aliceblue;
}
.alumni-box {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}
.alumni-container .card {
	width: 30vh;
	height: auto;
	margin: 15px;
}
.card img {
	width: 100%;
}
.alumni-name{
	color: black;
	font-size: 3vh;
}

.founder-main {
	background-color: rgb(6, 6, 32);
	padding: 1px 20px;
}
.founder-container {
	background-color: #0b0b44;
}
.founter-detail {
	display: flex;
	border: 1px dotted white;
	margin: 20px;
}
.founder-heading {
	margin-top: 2%;
	margin-left: 4%;
	width: 60%;
	text-align: initial;
}
.founder-container h1 {
	color: white;
	font-size: 3vw;
}
.founder-heading p {
	color: white;
	font-size: 2vw;
}
.founter-detail .founder-card {
	width: 40%;
}
.founder-card-img {
	width: 60%;
	border: 10px solid white;
	border-radius: 10px;
}
.founder-card-body {
	height: 100%;
	margin-top: 100px;
}
.founder-btn {
	padding: 10px 30px;
	font-weight: 500;
	margin: 1vw ;
}
.founder-btn:hover {
	background-color: aqua;
}

.whyjoin-main {
	background-color: rgb(6, 6, 32);
	padding: 1px 20px;
}
.whyjoin-container {
	/* display: flex; */
	background-color: #0b0b44;
}
.whyjoin-detail {
	display: flex;
	border: 1px dotted white;
	margin: 20px;
}
.whyjoin-heading {
	margin-top: 2%;
	margin-left: 4%;
	width: 60%;
	text-align: initial;
}
.whyjoin-container h1 {
	color: white;
	font-size: 3vw;
}
.whyjoin-heading p {
	color: white;
	font-size: 2vw;
}
.whyjoin-detail .founder-card {
	width: 40%;
}
.whyjoin-card-img {
	width: 100%;
	/* border: 10px solid white; */
	border-radius: 10px;
}
.whyjoin-card-body {
	height: 100%;
	margin-top: 50px;
}
.whyjoin-btn {
	font-size: larger;
	padding: 10px 30px;
	font-weight: 500;
	margin: 20px;
}
.whyjoin-btn:hover {
	background-color: aqua;
}

.placement-main {
	background-color: rgb(6, 6, 32);
	padding: 10px 20px;
}
.placement-container {
	background-color: #0b0b44;
}
.placement-detail {
	display: inline-flex;
	border: 1px dotted white;
	margin: 20px;
}
.placement-heading {
	margin-top: 2%;
	margin-left: 4%;
	width: 60%;
	text-align: initial;
}
.placement-container h1 {
	color: white;
	font-size: 3vw;
}
.placement-heading p {
	color: white;
	font-size: 2vw;
	
}
.placement-detail .founder-card {
	width: 40%;
}
.placement-card-img {
	width: 18rem;
}
.placement-card-body {
	height: 100%;
	margin-top: 100px;
}
.placement-btn {
	font-size: larger;
	padding: 10px 30px;
	font-weight: 500;
	margin: 20px;
}
.placement-btn:hover {
	background-color: aqua;
}


.caseStudy{	width: 100%;
	background-color: rgb(6, 6, 32);
	padding: 1px 20px;}
.caseStudy-main {
	background-color: #0b0b44;
}
.caseStudy-main img {
	width: 70%;
}

/* .caseStudy-main {
	background-color: rgb(6, 6, 32);
	padding: 0px 20px;
} */
.caseStudy-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.caseStudy-img-div {
	width: 50vh;
	margin: 15px;
}
.caseStudy-img {
	width: 100%;
	height: 80%;
	border-radius: 10px;
}
.caseStudy-heading {
	
	margin-left: 4%;
	width: 60%;
	text-align: initial;
}
.caseStudy-heading h1 {
	color: white;
	font-size: 3vw;
	padding-top: 2%;
}
.caseStudy-heading p {
	color: white;
	font-size: 2vw;
}
.caseStudy-img-div h5 {
	color: white;
	margin: 20px;
}
